html {
  background-color: #c9b5ab;
  font-family: 'PT Serif', serif;
}

header h1 {
  font-weight: bolder;
  color: #3f1622;
  font-family: 'PT Sans', sans-serif;
}

 a {
  line-height: 1.5;
  font-size: 1.5rem;
  font-weight: bold;
  color: #8f2440;
  text-decoration: none;
  font-family: 'PT Sans', sans-serif;
}

a:hover {
  color: #3f1622;
  text-decoration: none;
}

img {
  width: 100%;
}

figcaption {
  font-family: 'PT Serif', serif;
  font-style: italic;
  font-weight: normal;
  text-align: center;
}

.strong {
  font-weight: bold;
  font-size: 1.125rem;
}

p {
  font-size: 0.8rem;
}

main blockquote p {
  font-size: 1.5rem;
  line-height: 1.5;
  font-style: italic;
}

cite {
  font-size: 0.8rem;
}

h2 {
  color: #3f1622;
  font-weight: bolder;
  font-family: 'PT Sans', sans-serif;
}

.greek li {
  list-style-type: lower-greek;
  line-height: 1.5;
}

main dl dt:nth-child(2) {
  color: #222;
}

footer a{
  font-size: 0.8rem;
  font-family: 'PT Serif', serif;
}
