html {
  background-color: #c9b5ab;
  font-family: 'PT Sans', sans-serif;

}

header h1 {
  font-weight: bolder;
  color: #3f1622;
}

 a {
  line-height: 1.5;
  font-size: 1.5rem;
  font-weight: bold;
  color: #8f2440;
  text-decoration: none;
}

a:hover {
  color: #3f1622;
}

img {
  width: 100%
}

figcaption {
  font-family: 'PT Serif', serif;
  font-style: italic;
  font-weight: normal;
  text-align: center;
}

.strong {
  font-weight: bold;
  font-size: 1.125rem;
}

main p {
  font-family: 'PT Serif', serif;
  font-size: 0.8rem;
}

main blockquote p {
  font-size: 1.5rem;
  line-height: 1.5;
  font-style: italic;
}

h2 {
  color: #3f1622;
  font-weight: bold;
}
