html {
  background-color: #c9b5ab;
  font-family: 'PT Sans', sans-serif;

}

header h1 {
  font-weight: bold;
  color: #3f1622;
}

 a {
  line-height: 1.5;
  font-size: 1.5rem;
  font-weight: bold;
  color: #8f2440;
  text-decoration: none;
}

a:hover {
  color: #3f1622;
}

figcaption {
  font-family: 'PT Serif', serif;
  font-style: italic;
  font-weight: normal;
}
