html {
  background-color: #c9b5ab;
  font-family: 'PT Sans', sans-serif;
  line-height: 1.5;
}

header h1 {
  color: #3f1622;
}

header ol a {
  font-weight: bold;
 color: #8f2440;
}

figcaption {
  font-family: 'PT Serif', serif;
  font-style: italic;
}
